@import "../node_modules/bootstrap/scss/functions";







$font-family-base: "Barlow", "Barlow_condensed", "Bellefair";

$blue-900-alt: rgb(11, 13, 23);
$blue-300-alt: rgb(208, 214, 249);



// $h1-font-size: 144px;
// $h2-font-size: 100px;
// $h3-font-size: 56px;
// $h4-font-size: 32px;
// $h5-font-size: 28px;
// $h6-font-size: 18px;
// $h7-font-size: 16px;
// $h8-font-size: 14px;

// $h13-font-size: $font-size-base * 9.6;
// $h14-font-size: $font-size-base * 9.4;
// $h15-font-size: $font-size-base * 9.2;
// $h16-font-size: $font-size-base * 8.0;
// $h17-font-size: $font-size-base * 7.8;
// $h18-font-size: $font-size-base * 7.6;
// $h19-font-size: $font-size-base * 7.4;
// $h20-font-size: $font-size-base * 7.2;
// $h21-font-size: $font-size-base * 7.0;
// $h22-font-size: $font-size-base * 6.8;
// $h23-font-size: $font-size-base * 6.6;
// $h24-font-size: $font-size-base * 6.4;
// $h25-font-size: $font-size-base * 6.2;
// $h26-font-size: $font-size-base * 6.0;
// $h27-font-size: $font-size-base * 5.8;
// $h28-font-size: $font-size-base * 5.6;
// $h29-font-size: $font-size-base * 5.4;
// $h30-font-size: $font-size-base * 5.2;
// $h31-font-size: $font-size-base * 5.0;
// $h32-font-size: $font-size-base * 4.8;
// $h33-font-size: $font-size-base * 4.6;
// $h34-font-size: $font-size-base * 4.4;
// $h35-font-size: $font-size-base * 4.2;
// $h36-font-size: $font-size-base * 4.0;
// $h37-font-size: $font-size-base * 3.8;
// $h38-font-size: $font-size-base * 3.6;
// $h39-font-size: $font-size-base * 3.4;
// $h40-font-size: $font-size-base * 3.2;
// $h41-font-size: $font-size-base * 3.0;
// $h42-font-size: $font-size-base * 2.8;
// $h43-font-size: $font-size-base * 2.6;
// $h44-font-size: $font-size-base * 2.4;
// $h45-font-size: $font-size-base * 2.2;
// $h46-font-size: $font-size-base * 2.0;
// $h47-font-size: $font-size-base * 1.8;
// $h48-font-size: $font-size-base * 1.6;
// $h49-font-size: $font-size-base * 1.4;
// $h50-font-size: $font-size-base * 1.2;
// $h51-font-size: $font-size-base * 1.0;
// $h52-font-size: $font-size-base * 0.8;
// $h53-font-size: $font-size-base * 0.6;
// $h54-font-size: $font-size-base * 0.4;
// $h55-font-size: $font-size-base * 0.2;


$shadow-explorer: 0px 0px 0px 55px rgba(255, 255, 255, 0.099);
$font-size-base: 0.5rem;
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "blue-300-alt": $blue-300-alt,
  "blue-900-alt": $blue-900-alt
);

// $font-sizes: (
//   1: $h1-font-size,
//   2: $h2-font-size,
//   3: $h3-font-size,
//   4: $h4-font-size,
//   5: $h5-font-size,
//   6: $h6-font-size,
//   7: $h7-font-size,
//   8: $h8-font-size // 13: $h13-font-size,
//   // 14: $h14-font-size,
//   // 15: $h15-font-size,
//   // 16: $h16-font-size,
//   // 17: $h16-font-size,
//   // 18: $h17-font-size,
//   // 19: $h18-font-size,
//   // 20: $h19-font-size,
//   // 21: $h20-font-size,
//   // 22: $h21-font-size,
//   // 23: $h22-font-size,
//   // 24: $h23-font-size,
//   // 25: $h24-font-size,
//   // 26: $h25-font-size,
//   // 27: $h26-font-size,
//   // 28: $h27-font-size,
//   // 29: $h28-font-size,
//   // 30: $h29-font-size,
//   // 31: $h30-font-size,
//   // 32: $h31-font-size,
//   // 33: $h32-font-size,
//   // 34: $h33-font-size,
//   // 35: $h34-font-size,
//   // 36: $h35-font-size,
//   // 37: $h36-font-size,
//   // 38: $h37-font-size,
//   // 39: $h38-font-size,
//   // 40: $h39-font-size,
//   // 41: $h40-font-size,
//   // 42: $h41-font-size,
//   // 43: $h42-font-size,
//   // 44: $h43-font-size,
//   // 45: $h44-font-size,
//   // 46: $h45-font-size,
//   // 47: $h46-font-size,
//   // 48: $h47-font-size,
//   // 49: $h48-font-size,
//   // 50: $h49-font-size,
//   // 51: $h50-font-size,
//   // 52: $h51-font-size,
//   // 53: $h52-font-size,
//   // 54: $h53-font-size,
//   // 55: $h54-font-size,
//   // 56: $h55-font-size
// );

@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";




$utilities: (
  "color": (property: color,
    class: text,
    local-vars: ("text-opacity": 1),
    values: map-merge($utilities-text-colors,
      ("lila": #D0D6F9))),

  "background-color": (property: background-color,
    class: bg,
    local-vars: ("bg-opacity": 1),
    state: hover,
    values: map-merge($utilities-bg-colors,
      ("espacio" : #000000,
        "navbar": rgba(0, 0, 0, 0.3)))),

  "shadow": (property: box-shadow,
    class: shadow-explorer,
    state: hover,
    values: (null: $shadow-explorer )),
  "border-color": (property: border-color,
    class: border,
    local-vars: ("border-opacity": 1),
    values: map-merge($utilities-border-colors, (transparent: transparent))),

  "border-bottom": (property: border-bottom,
    responsive: true,
    state: hover,
    values: (null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
      0: 0,
      nav: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}gray-500))),
  "border": (property: border,
    responsive: true,
    state: hover,
    values: (null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
      0: 0,
    )),
  "translate-linea": (property: transform,
    class: translate-linea,
    values: (null: translate(-90%, -50%),
      x: translateX(-50%),
      y: translateY(-50%),
    )),
  "letter-spacing": (property: letter-spacing,
    class: espacio-entre-letras,
    responsive: true,
    values: (punto-1: 0.1rem,
      punto-15: 0.15rem,
      punto-17: 0.17rem,
      punto-185: 0.185rem,
      punto-2: 0.2rem,
      punto-25: 0.25rem,
      punto-3: 0.3rem,
      punto-4: 0.4rem,
      punto-5: 0.5rem))
);


@import "../node_modules/bootstrap/scss/utilities";

$utilities: map-merge($utilities,
    ("width": map-merge(map-get($utilities, "width"),
        (values: map-merge(map-get(map-get($utilities, "width"), "values"),
            (3: 3%,
              5: 5%,
              40: 40%,
              55: 55%,
              60: 60%,
              75: 75%,
              80: 80%,
              90: 90%,
              105: 105%),
          ),
        ),
      ),
    ));

$utilities: map-merge($utilities,
    ("width": map-merge(map-get($utilities, "width"),
        (responsive: true),
      ),
    ));

$utilities: map-merge($utilities,
    ("height": map-merge(map-get($utilities, "height"),
        (values: map-merge(map-get(map-get($utilities, "height"), "values"),
            (5: 5%,
              25:25%,
              40: 40%,
              55: 55%,
              60: 60%,
              70: 70%,
              73: 73%,
              77: 77%,
              80: 80%,
              87: 87%,
              100: 100%,
              200: 200%,
              250: 250%,
              300: 300%,
            ),
          ),
        ),
      ),
    ));

$utilities: map-merge($utilities,
    ("height": map-merge(map-get($utilities, "height"),
        (responsive: true),
      ),
    ));

$utilities: map-merge($utilities,
    ("viewport-height": map-merge(map-get($utilities, "viewport-height"),
        (values: map-merge(map-get(map-get($utilities, "viewport-height"), "values"),
            ( 7: 7vh,
              8: 8vh,
              10: 10vh,
              15: 15vh,
              30:30vh,
              40: 40vh,
              50: 50vh,
              55: 55vh,
              60: 60vh,
              110: 110vh),
          ),
        ),
      ),
    ));

$utilities: map-merge($utilities,
    ("viewport-height": map-merge(map-get($utilities, "viewport-height"),
        (responsive: true),
      ),
    ));

$utilities: map-merge($utilities,
    ("viewport-width": map-merge(map-get($utilities, "viewport-width"),
        (values: map-merge(map-get(map-get($utilities, "viewport-width"), "values"),
            (40: 40vw,
              50: 50vw,
              80: 80vw,
              110: 110vw),
          ),
        ),
      ),
    ));

$utilities: map-merge($utilities,
    ("viewport-width": map-merge(map-get($utilities, "viewport-width"),
        (responsive: true),
      ),
    ));

$utilities: map-merge($utilities,
    ("font-size": map-merge(map-get($utilities, "font-size"),
        (responsive: true),
      ),
    ));



@import "../node_modules/bootstrap/scss/utilities/api";

@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";

html,
body {
  scrollbar-width: none;
}

body {
  min-height: 100vh !important;
  width: 100vw !important;

}

#root {
  min-height: 100vh !important;
  width: 100vw !important;
}

main {
  min-height: 100vh;
}



.efectoEsmeril {
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(41px);
  height: max-content;
}

.navbar-brand>a>img {
  width: calc(8vh);
}

button>img {
  width: calc(4vh);
}

.navbar-toggler {
  border: none !important;
}

.col-10:hover>div>div {
  background: $gray-600;
}

.col-2:hover+.col-10>div>div {
  background: $gray-600;
}

.display-1 {
  font-size: calc(4.0rem + 5vw);
  font-weight: 300;
  line-height: 1.2;

}

.display-2 {
  font-size: calc(2.575rem + 3.9vw);
  font-weight: 300;
  line-height: 1.2;
}

a:hover~div {
  background: $gray-600;
}


@include media-breakpoint-up(sm) {
  nav {
    height: 15vh !important;
  }

  .navbar-brand>a>img {
    width: calc(7vh);
  }

  .navbar-brand {
    width: 20vw;
  }

  .fs-2 {
    font-size: calc(1.68rem + 0.1vw) !important;
  }

  .fs-3 {
    font-size: calc(0.5rem + 1vw) !important;
  }

  .fs-4 {
    font-size: calc(0.6rem + 1vw) !important;
  }

  .display-1 {
    font-size: calc(6.5rem + 5vw);
    font-weight: 300;
    line-height: 1.2;
  }


  section::-webkit-scrollbar {
    -webkit-appearance: none;

  }

  section::-webkit-scrollbar:vertical {
    width: 10px;

  }

  section::-webkit-scrollbar-button:increment,
  body::-webkit-scrollbar-button {
    display: none;
  }


}


@include media-breakpoint-up(lg) {

  nav {
    height: 22vh !important;
    align-items: end;
  }

  .navbar {
    align-items: flex-end;
  }

  .navbar-brand>a>img {
    width: calc(7vh);
  }

  .navbar-brand {
    width: 16vw;
  }

  .fs-1 {
    font-size: calc(0.5rem + 1vw) !important;
  }

  .fs-2 {
    font-size: calc(1.0rem + 1vw) !important;
  }

  .fs-3 {
    font-size: calc(0.3rem + 1vw) !important;
  }

  .fs-4 {
    font-size: calc(0.6rem + 1vw) !important;
  }


  .display-1 {
    font-size: calc(6rem + 5vw);
    font-weight: 300;
    line-height: 1.2;
  }
}

.letra-bellefair {
  font-family: "Bellefair", serif;
  font-weight: 400;
}

.tamanio-titulo {
  font-size: 85px;
}

.offcanvas-vidrio-esmerilado {
  background-color: rgba(244, 244, 244, 0.049);
  backdrop-filter: blur(35px);
}


.offcanvas-backdrop.show {
  opacity: 0;
}


.barlow-condensed {
  font-family: "Barlow_condensed";
}

.barlow {
  font-family: "Barlow";
}

.sombre_boton_explorer {
  -webkit-box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.5);
}






button:focus:not(:focus-visible) {
  border: none !important;
  box-shadow: none;

}



// @import "../node_modules/bootstrap/scss/functions";

// $font-family-sans-serif: 'Barlow', sans-serif;
// $font-family-base:  'Barlow', sans-serif;
// $font-family-bellefair: 'Bellefair', sans-serif;

// @import "../node_modules/bootstrap/scss/variables";



// @import "../node_modules/bootstrap/scss/maps";
// @import "../node_modules/bootstrap/scss/mixins";
// @import "../node_modules/bootstrap/scss/root";


// body {
//   margin: 0;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   height: 100%;
// }

// .padding-parte-arriba-main {
//   padding-top: 90px;
// }

// .letra-bellefair {
//   font-family: "Bellefair", serif;
// }



// .home {
//   height: 100vh;
// }

// .circulo-portada {
//   height: 170px;
//   width: 170px;
//   border-radius: 50%;
// }

// .letra-gris-oscura {
//   color: #ffffff;
//   opacity: 0.5;
// }



// .fondo {
//   background-color: black;
//   height: 705px;
// }

// .fondos_de_las_paginas {
//   height: 100%;
// }



// .tamanio_titulos_destinos {
//   font-size: calc(3.1rem + 1.5vw) !important;
// }


// .color_letra_gris_clara {
//   color: #D0D6F9;
// }

// .color_borde_destinos {
//   border-color: #383B4B !important;
// }



// @import "../node_modules/bootstrap/scss/bootstrap.scss";
@font-face {
  font-family: "Bellefair";
  src: url('/public/fuentes/Bellefair/Bellefair-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: "Barlow";
  src: url('/public/fuentes/Barlow/Barlow-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: "Barlow_condensed";
  src: url('/public/fuentes/BarlowCondensed/BarlowCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;

}