@import "../node_modules/bootstrap/scss/functions";





@import "../node_modules/bootstrap/scss/variables";

$font-family-base: "Barlow", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base ;

$h11-font-size: $font-size-base * 10.0;
$h12-font-size: $font-size-base * 9.8;
$h13-font-size: $font-size-base * 9.6;
$h14-font-size: $font-size-base * 9.4;
$h15-font-size: $font-size-base * 9.2;
$h16-font-size: $font-size-base * 8.0;
$h17-font-size: $font-size-base * 7.8;
$h18-font-size: $font-size-base * 7.6;
$h19-font-size: $font-size-base * 7.4;
$h20-font-size: $font-size-base * 7.2;
$h21-font-size: $font-size-base * 7.0;
$h22-font-size: $font-size-base * 6.8;
$h23-font-size: $font-size-base * 6.6;
$h24-font-size: $font-size-base * 6.4;
$h25-font-size: $font-size-base * 6.2;
$h26-font-size: $font-size-base * 6.0;
$h27-font-size: $font-size-base * 5.8;
$h28-font-size: $font-size-base * 5.6;
$h29-font-size: $font-size-base * 5.4;
$h30-font-size: $font-size-base * 5.2;
$h31-font-size: $font-size-base * 5.0;
$h32-font-size: $font-size-base * 4.8;
$h33-font-size: $font-size-base * 4.6;
$h34-font-size: $font-size-base * 4.4;
$h35-font-size: $font-size-base * 4.2;
$h36-font-size: $font-size-base * 4.0;
$h37-font-size: $font-size-base * 3.8;
$h38-font-size: $font-size-base * 3.6;
$h39-font-size: $font-size-base * 3.4;
$h40-font-size: $font-size-base * 3.2;
$h41-font-size: $font-size-base * 3.0;
$h42-font-size: $font-size-base * 2.8;
$h43-font-size: $font-size-base * 2.6;
$h44-font-size: $font-size-base * 2.4;
$h45-font-size: $font-size-base * 2.2;
$h46-font-size: $font-size-base * 2.0;
$h47-font-size: $font-size-base * 1.8;
$h48-font-size: $font-size-base * 1.6;
$h49-font-size: $font-size-base * 1.4;
$h50-font-size: $font-size-base * 1.2;
$h51-font-size: $font-size-base * 1.0;
$h52-font-size: $font-size-base * 0.8;
$h53-font-size: $font-size-base * 0.6;
$h54-font-size: $font-size-base * 0.4;
$h55-font-size: $font-size-base * 0.2;


$shadow-explorer: 0px 0px 0px 45px rgba(255, 255, 255, 0.5);

@import "../node_modules/bootstrap/scss/variables-dark";



$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  11: $h11-font-size,
  12: $h12-font-size,
  13: $h13-font-size,
  14: $h14-font-size,
  15: $h15-font-size,
  16: $h16-font-size,
  17: $h16-font-size,
  18: $h17-font-size,
  19: $h18-font-size,
  20: $h19-font-size,
  21: $h20-font-size,
  22: $h21-font-size,
  23: $h22-font-size,
  24: $h23-font-size,
  25: $h24-font-size,
  26: $h25-font-size,
  27: $h26-font-size,
  28: $h27-font-size,
  29: $h28-font-size,
  30: $h29-font-size,
  31: $h30-font-size,
  32: $h31-font-size,
  33: $h32-font-size,
  34: $h33-font-size,
  35: $h34-font-size,
  36: $h35-font-size,
  37: $h36-font-size,
  38: $h37-font-size,
  39: $h38-font-size,
  40: $h39-font-size,
  41: $h40-font-size,
  42: $h41-font-size,
  43: $h42-font-size,
  44: $h43-font-size,
  45: $h44-font-size,
  46: $h45-font-size,
  47: $h46-font-size,
  48: $h47-font-size,
  49: $h48-font-size,
  50: $h49-font-size,
  51: $h50-font-size,
  52: $h51-font-size,
  53: $h52-font-size,
  54: $h53-font-size,
  55: $h54-font-size,
  56: $h55-font-size
);

@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
// @import "../node_modules/bootstrap/scss/root";




$utilities: (
  "color": (property: color,
    class: text,
    local-vars: ("text-opacity": 1),
    values: map-merge($utilities-text-colors,
      ("lila": #D0D6F9))),

  "background-color": (property: background-color,
    class: bg,
    local-vars: ("bg-opacity": 1),
    values: map-merge($utilities-bg-colors,
      ("espacio" : #000000,
        "navbar": rgba(0, 0, 0, 0.3)))),

  "shadow": (property: box-shadow,
    class: shadow-explorer,
    state: hover,
    values: (null: $shadow-explorer )),
  "border-color": (property: border-color,
    class: border,
    local-vars: ("border-opacity": 1),
    values: map-merge($utilities-border-colors, (transparent: transparent))),
  "font-size": (rfs: true,
    property: font-size,
    responsive: true,
    class: fs,
    values: $font-sizes ),
  "border-bottom": (property: border-bottom,
  responsive: true,
    values: (null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
      0: 0,
    ))
);


@import "../node_modules/bootstrap/scss/utilities";




@import "../node_modules/bootstrap/scss/utilities/api";

@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/type";


@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');


@include media-breakpoint-up(sm) {
  .home-padding-sm {
    padding-top: 160px !important;
  }

  .tamanio-titulo-sm {
    font-size: 150px !important;
  }

  .boton_explorer-sm {
    height: 242px !important;
    width: 242px !important;
    z-index: 10;
  }

  .padding-boton-explorador-sm {

    padding-top: 200px !important;
    height: 400px !important;

  }

  .padding-top-destinos-sm {
    padding-top: 120px !important;
  }

  .marco-planetas-sm {
    height: 280px;
    width: 280px;
  }

  .tablet-tecnologia-sm {
    padding-top: 110px !important;
  }

  .tablet-tripulantes {
    padding-top: 110px !important;
  }

  .tablet-imagen-nave-sm {
    height: 350px !important;
  }

  .tablet-imagen-nave-ancho-sm {
    width: 768px !important;
  }

}

.home-padding {
  padding-top: 70px;
}

@media (min-height: 500px) {
  .altura-minima {
    height: 667px;
  }
}

.letra-bellefair {
  font-family: "Bellefair", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.tamanio-titulo {
  font-size: 85px;
}

.offcanvas-vidrio-esmerilado {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}


.barlow-condensed {
  font-family: "Barlow Condensed", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  letter-spacing: 0.2rem;
}

.sombre_boton_explorer {
  -webkit-box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.5);
}


.boton_explorer {
  height: 150px;
  width: 150px;
  z-index: 10;
}

.padding-top-destinos {
  padding-top: 70px;
}

.marco-planetas {
  height: 230px;
  width: 230px;
}

.tablet-tecnologia {
  padding-top: 60px;
}

.tablet-tripulantes {
  padding-top: 50px;
}

.tablet-imagen-nave {
  height: 200px;
}

.tablet-imagen-nave-ancho {
  width: 375px;
}

// @import "../node_modules/bootstrap/scss/functions";

// $font-family-sans-serif: 'Barlow', sans-serif;
// $font-family-base:  'Barlow', sans-serif;
// $font-family-bellefair: 'Bellefair', sans-serif;

// @import "../node_modules/bootstrap/scss/variables";



// @import "../node_modules/bootstrap/scss/maps";
// @import "../node_modules/bootstrap/scss/mixins";
// @import "../node_modules/bootstrap/scss/root";


// body {
//   margin: 0;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   height: 100%;
// }

// .padding-parte-arriba-main {
//   padding-top: 90px;
// }

// .letra-bellefair {
//   font-family: "Bellefair", serif;
// }



// .home {
//   height: 100vh;
// }

// .circulo-portada {
//   height: 170px;
//   width: 170px;
//   border-radius: 50%;
// }

// .letra-gris-oscura {
//   color: #ffffff;
//   opacity: 0.5;
// }



// .fondo {
//   background-color: black;
//   height: 705px;
// }

// .fondos_de_las_paginas {
//   height: 100%;
// }



// .tamanio_titulos_destinos {
//   font-size: calc(3.1rem + 1.5vw) !important;
// }


// .color_letra_gris_clara {
//   color: #D0D6F9;
// }

// .color_borde_destinos {
//   border-color: #383B4B !important;
// }



// @import "../node_modules/bootstrap/scss/bootstrap.scss";