



@import "../../node_modules/bootstrap/scss/functions";


$navbar-light-color: #D0D6F9;

@import "../../node_modules/bootstrap/scss/variables";

$colores-propios: (
    "letra-gris": #D0D6F9
);


$theme-colors: map-merge(
    $map1: $theme-colors,
    $map2: $colores-propios
);




@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";


@import "../../node_modules/bootstrap/scss/bootstrap.scss";




.letra-gris-oscura {
    color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.25;
}